body {
  min-height: 100vh;
  font-size: 24px;
  background-color: rgba(137, 218, 221, 0.486);
}

img {
  width: 400px;
  height: 200px;
  margin-top: 40px;
}

input {
  display: inline-block;
  font-size: 25px;
  margin: 50px;
  background-color: rgba(141, 226, 107, 0.384);
}

.countries {
  font-weight: bold;
}
